html,
body{
  margin: 0;
  padding: 0;
  height: 100%;
}
body{
  overflow: hidden;
}
.container{
  height: 100%;
  width: 100%;
}
.main-content{
  height: 100%;
  width: 100%;
  overflow: auto;
  position: absolute;
}
.header{
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('../img/bg.jpg') no-repeat center top;
  background-size: cover;
}
.fade{
  overflow: hidden;
  height: 80px;
  -webkit-filter: blur(30px);
  -moz-filter: blur(30px);
  -o-filter: blur(30px);
  -ms-filter: blur(30px);
  filter: blur(30px);
  -webkit-transition: 2s -webkit-filter linear;
  -moz-transition: 2s -moz-filter linear;
  -o-transition: 2s -o-filter linear;
  transition: 2s filter linear;

  img{
    width: 100%;
  }
}
.text{
  position: absolute;
  top: 100%;
  text-align: center;

  &-inner{
    width: 80%;
    padding: 20px;
    margin: auto;
    background: #ffffff;
    text-align: left;
  }
}